@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #100605; 
    --foreground: #ffffff; 
    --overlay: #000000c4; 

    --menu-bg: #FFFFFF; 
    --menu-foreground: #F7F8FA;

    --primary: #ffffff; 
    --primary-hover: #100605;
    --primary-foreground: #d4d4d4;

    --secondary: #100605; 
    --secondary-foreground: #261710; 

    --text-primary: #ffffff;
    --text-secondary: #100605; 
    --text-tertiary: #000000; 
    --text-disabled: #9CA3AF; 

    --error: #DC2626;
    --success: #16A34A;
    --alert: #D97706;
    --info: #0C83D9; 

    --disabled: #D1D5DB;

    --border: #E5E7EB; /* Cinza suave para bordas */
  }

  ::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    width: 1px;
    background-color: #100605; /* Cinza escuro para thumb do scrollbar */
    border-radius: 4px;
  }
}
